<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>WebAnToan</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <h1 style="text-align: center;margin-left: -20px;margin-right: -20px;margin-top: -10px;color: #7f8c8d">Development of Secure Web Applications</h1>
        

        <div class="form-line"></div>

        <div style="margin-top: 18px;">
            <form action="/register" class="register-form" method="post" >
              <h2><i class="fas fa-user-plus"></i> Register</h2>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
              <input type="text" name="username" placeholder="username"/>
              <input type="password" name="password" placeholder="password"/>
              <button type="submit">create</button>
              <p class="message">Already registered? <a href="#">Sign In</a></p>
              <% if (errors != null && showRegisterForm != null && showRegisterForm === true) { %>
                <% errors.forEach(function(err){ %>
                  <p class="message error"><%= err %></p>
                <% }); %>
              <% } %>
            </form>
            <form action="/login" class="login-form" method="post">
              <h2 style="color: #2c3e50"><i class="fas fa-sign-in-alt"></i> Login</h2>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
              <input type="text" name="username" placeholder="username"/>
              <input type="password" name="password" placeholder="password"/>
              <button type="submit">login</button>
              <p class="message">Not registered? <a href="#">Create an account</a></p>
              <% if (errors != null && showRegisterForm == null) { %>
                <% errors.forEach(function(err){ %>
                  <p class="message error"><%= err %></p>
                <% }); %>
              <% } if (success != null && showRegisterForm == null) { %>
                <p class="message success"><%= success %></p>
              <% } %>
            </form>
        </div>
    </div> 
    </div> 
    <script src='/js/jquery.js'></script>
    <% if(showRegisterForm != null && showRegisterForm === true) { %>
        <script>
          $('.register-form').show(); $('.login-form, .social-buttons, .form-line').hide();
        </script>
    <% } %>
    <script>
        $('.message a').click(function(){
            $('form, .social-buttons, .form-line').animate({height: "toggle", opacity: "toggle"}, "slow");
          });
    </script>
  </body>
</html>
